$dark-brown: #1b0d01;
$light-brown: #765c38;
$dark-blue: #041738;
$yellow: #c09a67;
$blackk: #0a0907;
$minimal: "Gravesend Sans";
$royal: "Mencken Std";
$user-field-bgco: rgba(95, 158, 160, 0.7);
$content-field-bgco: rgba(71, 118, 120, 0.7);

$border-radius: 5px;

// for development
$border: 1px solid black;
