@import "vars";
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
main {
  padding-top: 80px;
}
.bg-container {
  background-image: url("/img/upload-bg.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: fixed;
  /* Full height */
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.upload-form {
  width: auto;
  min-height: 1000px;
  margin: 0px auto 80px auto;
  //   padding: 50px 0px 50px 50px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.user-field {
  margin: 0 auto;
  width: 843px;
  min-height: 230px;
  padding: 72px 0px 43px 72px;
  background-color: $user-field-bgco;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  display: grid;
  grid-template-areas:
    "firstname firstname lastname lastname"
    "email email email uAge";
  label {
    margin-right: 20px;
    display: inline-block;
    left: -180px;
    position: relative;
    top: 4px;
    color: #354e4f;
  }
  label[for="email"] {
    left: -300px !important;
  }
  input {
    width: 180px;
    padding-left: 7px;
    font-size: 16px;
    height: 40px;
    float: left;
    display: block;
    top: 25px;
    color: #424242;
    position: relative;
    border: 1px solid #354e4f;
    background-color: lighten($user-field-bgco, 80%);
    border-radius: 1px;
  }
  .input-container {
    //
    clear: both;
    min-width: 386px;
    display: inline-block;
    height: 85px;
  }
}

#email {
  width: 300px;
}

label {
  text-transform: lowercase;
}
#dd,
#mm {
  width: 48px;
  margin-right: 5px;
}
#yyyy {
  width: 96px;
}
#extracontainer-appearance {
  width: auto;
  display: none;
  height: auto;
}
.content-field {
  width: 843px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: auto;
  background-color: rgba(71, 118, 120, 0.7);
  margin: 0 auto;
  padding: 72px 42px 32px 72px;
  display: grid;
  grid-template-areas:
    "imgToUpload imgToUpload imgToUpload space"
    "mname mname mname space"
    "appearance appearance appearance ."
    "appearance appearance appearance ."
    "height height weight weight"
    "age age birth birth"
    "pog pog ability ability"
    "creator creator extlinks extlinks"
    "history history history history"
    "about about about about"
    ". . . submit  ";
  // "appearance appearance appearance appearance";
  //
  .input-container {
    //
    padding-bottom: 25px;

    width: 465px;
    // display: inline-block;
    min-height: 85px;
    label {
      margin-right: 20px;
      display: inline-block;
      left: -370px;
      position: relative;
      top: 4px;
      color: #354e4f;
      width: 140px;
    }
    input {
      margin-top: 5px;
      width: 370px;
      padding-left: 7px;
      font-size: 16px;
      height: 40px;
      float: left;
      display: block;
      top: 25px;
      color: #424242;
      position: relative;
      border: 1px solid #354e4f;
      background-color: lighten($user-field-bgco, 80%);
      border-radius: 1px;
    }

    button {
      height: 40px;
      width: 40px;
      position: relative;

      top: -14px;
      right: -226px;

      cursor: pointer;
      background-color: #6b8485;
      border: 1px solid #354e4f;
      color: #424242;
      border-radius: 2px;
      &:hover {
        background-color: darken(#6b8485, 3);
      }
    }
  }
  #ability-container,
  #creator-container,
  #extlinks-container {
    width: 300px;
    .ability,
    .creator {
      margin-top: 5px;
    }
    label {
      left: 0px;
      position: relative;
      top: -45px;
    }
  }

  .input-container-small {
    clear: both;
    min-width: 265px;
    display: inline-block;
    min-height: 85px;
    position: relative;
    label {
      margin-right: 20px;
      display: inline-block;
      left: -180px;
      position: relative;
      top: 5px;
      color: #354e4f;
      width: 140px;
    }
    input {
      width: 180px;
      padding-left: 7px;
      font-size: 16px;
      height: 40px;
      float: left;
      display: block;
      top: 25px;
      color: #424242;
      position: relative;
      border: 1px solid #354e4f;
      background-color: lighten($user-field-bgco, 80%);
      border-radius: 1px;
    }
    select {
      height: 40px;
      width: 90px;
      position: relative;
      top: 7px;
      right: -21px;
      cursor: pointer;
      background-color: #6b8485;
      border: 1px solid #354e4f;
      color: #424242;
      border-radius: 2px;
      option {
        text-align: center;
        font-size: 16px;
      }
    }
    button {
      height: 40px;
      width: 40px;
      position: relative;
      top: -15px;
      left: 33px;
      cursor: pointer;
      background-color: #6b8485;
      border: 1px solid #354e4f;
      color: #424242;
      border-radius: 2px;
      &:hover {
        background-color: darken(#6b8485, 3);
      }
    }
  }
}

.firstname-container {
  grid-area: firstname;
}
.lastname-container {
  grid-area: lastname;
}
.email-container {
  grid-area: email;
}
.mname-container {
  grid-area: mname;
}
.space {
  grid-area: space;
}
.appearance-container {
  grid-area: appearance;
}
.height-container {
  grid-area: height;
}
.weight-container {
  grid-area: weight;
}
.age-container {
  grid-area: age;
}
.birth-container {
  grid-area: birth;
}
.pog-container {
  grid-area: pog;
}
.ability-container {
  grid-area: ability;
}
.creator-container {
  grid-area: creator;
}
.history-container {
  grid-area: history;
  width: 700px;
  display: inline-block;
  min-height: 85px;
  position: relative;
}

.history-container {
  label {
    margin-right: 20px;
    display: inline-block;
    left: 0px;
    position: relative;
    top: -157px;
    color: #354e4f;
    width: 140px;
    margin-bottom: 26px;
  }
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 160px;
    // resize: initial;
    margin-top: 5px;
    width: 678px;
    padding: 7px;
    font-size: 16px;

    text-align: start;
    display: flex;
    // line-height: 14px;
    vertical-align: top;
    top: 25px;
    color: #424242;
    position: relative;
    border: 1px solid #354e4f;
    background-color: lighten($user-field-bgco, 80%);
    border-radius: 1px;
  }
}

.about-container {
  margin-bottom: 30px;
  label {
    margin-right: 20px;
    display: inline-block;
    left: 0px;
    position: relative;
    top: -154px;
    color: #354e4f;
    width: 140px;
    margin-bottom: 26px;
  }
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 160px;
    // resize: initial;
    margin-top: 5px;
    width: 678px;
    padding: 7px;
    font-size: 16px;

    text-align: start;
    display: flex;
    // line-height: 14px;
    vertical-align: top;
    top: 25px;
    color: #424242;
    position: relative;
    border: 1px solid #354e4f;
    background-color: lighten($user-field-bgco, 80%);
    border-radius: 1px;
  }
}
.extlinks-container {
  grid-area: extlinks;
}

.u-age-container {
  grid-area: uAge;
}
.about-container {
  grid-area: about;
}
#img-to-upload {
  grid-area: imgToUpload;
}
#submit {
  grid-area: submit;
  width: 90px;
  height: 40px;
  right: 52px;
  position: relative;
  cursor: pointer;
}
.addAble {
  top: -32px !important;
  left: 0px !important;
}
.addAbleA {
  top: -43px !important;
  left: 1px !important;
}

@media screen and (max-width: 768px) {
  .upload-form {
    width: 98vw;
  }
  .user-field {
    width: 98vw;
    padding: 15px;
    grid-template-areas:
      "firstname"
      "lastname"
      "email"
      "uAge";
  }
  .content-field {
    width: 95vw;
    padding: 32px 16px;
    grid-template-areas:
      "imgToUpload"
      "mname"
      "appearance"
      "appearance"
      "height"
      "weight"
      "birth"
      "age"
      "ability"
      "pog"
      "creator"
      "extlinks"
      "history"
      "about "
      "submit";
  }
  div {
    max-width: 95vw !important;
    input:not(#dd, #mm, #yyyy),
    textarea {
      width: 260px !important;
    }
  }
  button:not(#submit) {
    left: unset;
    // right: -66px;
    top: 30px;
  }
  .input-container-small {
    select {
      right: -17px;
    }
  }
  #submit {
    left: 1vw;
  }
  .content-field {
    .input-container,
    .input-container-small {
      border: $border;
      width: 90% !important;
      min-width: unset;
    }
  }
  #appearance-btn {
    right: unset !important;
  }
  .user-field {
    .input-container {
      border: $border;
      width: 100% !important;
      min-width: unset;
    }
  }
}
